@media (min-width: 1650px) {
	div.page-content {
		
		background-size: 100% auto;
	}
}

div.page-content {
	background:
		linear-gradient(
	      rgba(150, 203, 220, 0.6), 
	      rgba(150, 203, 220, 0.6)
	    ),
		 url("/assets/desk.JPG")
		 no-repeat fixed center;
	background-size: auto 100%;

}

@media (min-width: 1650px) {
	div.page-content {
		
		background-size: 100% auto;
	}
}



.speech-bubble {
  position:relative;
  padding:15px;
  margin:100px 0 0.5em;
  color:#333;
  background:#eee;
  /* css3 */
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  border-radius:10px;
}

.speech-bubble p {font-size:28px; line-height:1.25em;}

/* creates the triangle */
.speech-bubble:after {
  content:"";
  position:absolute;
  bottom:-30px;
  left:50px;
  border:0px 15px 15px 0px solid;
  border-bottom-color:#eee;
  /* reduce the damage in FF3.0 */
  display:block;
  width:0;
}

/* display of quote author (alternatively use a class on the element following the blockquote) */
.speech-bubble + p {padding-left:15px; font:14px Arial, sans-serif;} 