hr.levlup-header:after{
    content: "\f121";
	font-family: FontAwesome;
    display: inline-block;
    position: relative;
    top: -0.8em;
    font-size: 2em;
    padding: 0 0.25em;
    background-color: #18bc9c;
    color: white;
}

hr.levlup-folio:after{
    content: "\f0b1";
	font-family: FontAwesome;
    display: inline-block;
    position: relative;
    top: -0.8em;
    font-size: 2em;
    padding: 0 0.25em;
    background-color: #18bc9c;
    color: white;
	background-color: white;
	color: #2c3e50;
}

hr.levlup-about:after{
    content: "\f02d";
	font-family: FontAwesome;
    display: inline-block;
    position: relative;
    top: -0.8em;
    font-size: 2em;
    padding: 0 0.25em;
    background-color: #18bc9c;
    color: white;
}

.speech-bubble {
  position:relative;
  padding:15px;
  margin:100px 0 0.5em;
  color:#333;
  background:#eee;
  /* css3 */
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  border-radius:10px;
  max-width: 600px;
}

.speech-bubble p {font-size:24px; line-height:1.25em;}

/* creates the triangle */

.speech-bubble:after {
    content: "";
    position: absolute;
    bottom: -15px;
    right: 100px;
    border-width: 15px 15px 0;
    border-style: solid;
    border-color: #eee transparent;
    display: block;
    width: 0;
}

img.imac {
	margin-top: -100px;
}

#about .row {
	text-align: center;
	
}