<!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About Me</h2>
                    <hr class="levlup-about">
                </div>
            </div>
            <div class="row">
				  <blockquote class="speech-bubble">
					  <p>Hi, My Name is Mitch.</p><p> I'm currently diving deep into Podio implementations/customizations; harnessing automation and integrations to make workflows more efficient; using real-time dashboards to foster performance increases and drive smart business decisions.</p><p> I also have experience in Content Management Systems and Web Development in several languages/frameworks. My true passion is for learning. I love to spend late nights learning new technologies and approaches to refactor existing projects.</p>
				  </blockquote>
				  <img src="{{ site.avatar }}" height="250px"/>
 
				<hr>
				  <img class="imac" src="{{ site.imacback }}" height="250px"/>
            </div>
        </div>
    </section>