<!-- Header -->
<header id="header">
    <div class="container" id="clouds">
        <div class="row">
            <div class="col-lg-12">
			<div class="cloud x1"></div>
			<div class="cloud x3"></div><div class="cloud x2"></div>
                <img class="img-responsive" src="img/airballoon-01.png" alt=""><div class="cloud x5"></div>
                <div class="intro-text"><div class="cloud x4"></div>
                    <span class="name">{{ site.title }}</span>
                    <hr class="levlup-header">
                    <span class="skills">{{ site.description }}</span>
                </div>
            </div>
        </div>
    </div>
</header>
<script language="javascript">
if (screen.width >= 600) {
	$(document).ready(function() {
	    vph = $(window).height();
		balloonHeight = $("#header > row").height();
		balloonMargin = vph - (balloonHeight / 2);
	    $('#header').css('height',vph);
		$("#header > .row").css('margin-top',balloonMargin);
		
	});

	$(window).resize(function(){
	    vph = $(window).height();

	    $('#header').css('height',vph);
	});
}
</script>
