<!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Packages</h2>
                    <hr class="levlup-folio">
                </div>
            </div>
            <div class="row">
                {% for post in site.posts %}
                    <div class="col-sm-4 portfolio-item">
						<h3>{{ post.title }}</h3>
                        <a href="#{{ post.modalID }}" class="portfolio-link" data-toggle="modal">
                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-search-plus fa-3x"></i>
                                </div>
                            </div>
                            <img src="{{ site.baseurl }}/{{ post.img }}" class="img-responsive" alt="">
                        
						
						</a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
	<script language="javascript">
	if (screen.width >= 600) {
		$(document).ready(function() {
		    vph = $(window).height();
		    $('#portfolio').css('height',vph);
			navHeight = $('nav').height();
			portfolioHeight = $('#portfolio').height();
			divHeight = $("#portfolio .container").height();
			divMargin = (portfolioHeight / 2) - (divHeight / 2) - (navHeight * 2);
			var divCss = 'margin-top: ' + divMargin + 'px';
			document.styleSheets[0].addRule('#portfolio .container',divCss);
			document.styleSheets[0].insertRule('#portfolio .container {' + divCss + "}",0);
		});

		$(window).resize(function(){
		    vph = $(window).height();
		    $('#portfolio').css('height',vph);
			navHeight = $('nav').height();
			portfolioHeight = $('#portfolio').height();
			divHeight = $("#portfolio .container").height();
			divMargin = (portfolioHeight / 2) - (divHeight / 2) - (navHeight * 2);
			var divCss = 'margin-top: ' + divMargin + 'px';
			document.styleSheets[0].addRule('#portfolio .container',divCss);
			document.styleSheets[0].insertRule('#portfolio .container {' + divCss + "}",0);
		});
		}
	</script>
	